:root {
  --button-color:#EB6860;
  --second-button-color:#DE632E;
  --nav-color:#EB6860;
  --white:white;
  --aside-color:#F5F5F5;


  --button-border:5px;
}
body, html{
  color: #292C32;
  background-color:var(--hero-color) ;
  margin: 0px;
  padding: 0px;
  height: 100%;
}
button{
  height: 30px;
  width: 150px;
  color:white;
  border-radius: var(--button-border);
  border: none;
  background-color: var(--button-color);
  margin: 20px 0px 20px 0px;
}
.ri-book-open-fill{
  display: flex; /* Activamos flexbox */
  align-items: center; /* Centra verticalmente */
  justify-content: center;
  background-color: #EB6860;
  height:24px;
  width:68.41px;
  border-radius: 9999px;
}
.container{
  display: grid;
    grid-template-columns: 1fr 4fr; /* Aside ocupa 1/4, el resto 4/4 */
    grid-template-rows: auto 1fr; /* Navbar arriba, Hero ocupa el resto */
    height: 100vh;
}
.header-class{
  grid-row: 1; /* Primera fila */
  grid-column: 2; /* Segunda columna */
  background-color:#FAE7E6;
  border: 1px solid var(--nav-color);
  padding: 1rem;
  text-align:end;
}
.header-button{
  height:32px;
  width:119.67px;
  margin-left: 50px;
  margin-right: 50px;
}
.h1-list {
  display: flex; /* Activamos flexbox */
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  border-radius: 999px;
  border: 1px solid black;
  height: 32px;
  width: 206px;
  margin-left: 60px;
  margin-right: 30px;
}

.aside-list {
  grid-row: 1 / span 2; /* Toma ambas filas (toda la altura) */
  grid-column: 1; /* Primer columna */
  background-color:var(--aside-color);
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
}

.hero {
  display: grid;
    grid-template-columns: 1fr 4fr; /* Aside ocupa 1/4, el resto 4/4 */
    grid-template-rows: auto 1fr; /* Navbar arriba, Hero ocupa el resto */
  grid-row: 2; /* Segunda fila */
    grid-column: 2; /* Segunda columna */
    background-color: #FFFFFF;
    padding: 1rem;
}

.hero-p {
  justify-content: center;
  width: 100%; /* Ajusta al tamaño disponible */
  height: auto; /* Altura flexible */
}
